* {
    font-family: "Popins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #212121;
}

header {
    background-color: #212121;
    overflow: hidden;
}

header h1 {
    padding: 2%;
    padding-bottom: 0.05%;
    color: aliceblue;
}

nav {
    background-color: #8CB457;
    overflow: hidden;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
}

nav li a {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
    color: azure;
}

#hero {
    height: 600px;
    width: auto;
    background-color: #C5C5C5;
    text-align: center;
    align-content: center;
}

#hero h1 {
    color: #275428;
    padding: 2rem;
    font-size: 3rem;
}

#hero button {
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    color: #FAFBFA;
    border: none;
    background-color: #275428;
    cursor: pointer;
}

#featured-products {
    background-color: #F4F9F4;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#featured-products h2 {
    color: #275428;
    padding-bottom: 10px;
}

#all-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2rem;
}

.product {
    margin-top: 0; 
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 2.5rem;
}

.product-description {
    padding: 5%;
}

.product-description h3 {
    color: #275428;
    padding-bottom: 3%;
}

.product-image {
    background-color: #e5e5e5;
    display: block;
    min-height: 200px;
    min-width: 300px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

@media (max-width: 768px) {
    li {
        display: block;
    }
}