* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, rgb(19, 98, 117));
  padding: 10px;
}

.quiz-card {
  width: 100%;
  max-width: 540px;
  margin: 100px auto 0px;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}

.quiz-card h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}

.button {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.button:disabled {
  cursor: no-drop;
}

#next-button {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 100px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  display: none;
}

#next-button:hover {
  background: #e85d00;
  color: black;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}
