* {
    font-family: "Popins", sans-serif;
}

header {
    text-align: center;
}

#main-container {
    margin: 50px;
}

#display-block {
    border: 1px solid black;
    padding: 20px;
}

.app {
    display: block;
    padding: 20px;
    background-color: #FFCCCC;
    margin-bottom: 5px;
    font-weight: 600;
}

#display-inline {
    border: 1px solid black;
    padding: 30px;
}

.place {
    display: inline;
    background-color: #CCFFCC;
    padding: 15px;
    font-weight: 600;
}

#display-flex {
    border: 1px solid black;
    display: flex;
}

.country {
    flex-grow: 0.3;
    background-color: #ADD8E6;
    padding: 20px;
    margin: 15px;
    font-weight: 600;
}

.country:nth-child(3) {
    flex-grow: 1;
    background-color:#FAFAD2;
}

.activity {
    background-color: #90EE90;
    padding: 20px;
    margin: 15px;
    font-weight: 600;
    width: 350px;
}

.activity:nth-child(1) {
    flex-shrink: 0.5;
}
.activity:nth-child(2) {
    flex-shrink: 0.5;
}
.activity:nth-child(3) {
    flex-shrink: 1;
    background-color: #FFA500;
}